{% extends './base.html' %}

{% block content %}

<!-- authorization sections -->
<div>
  <h2 style="text-align: center;">Please Confirm This Booking</h2>
  <p style="text-align: center;">
  {% for b in billing_info %}
  I, {{b.card_holder_name}} has authorize LOOKMYFLIGHT to confirm my booking by charging my Credit/Debit card, ending with <b>{{b.card_number|slice:":4"}}</b> for amount ({{booking.currency}} <b>{{total_amount}}</b>) to book the below itinerary.
  {% endfor %}  
  </p>
  <p style="text-align: center;">
  Reservations once issued are Non Refundable and Non Transferable. Changes are subject to airline rules and regulations and may attract penalty and difference in fare and fees. Some reservations may completely be NON CHANGEABLE even with airline penalty.No airfare is guaranteed until tickets are issued.
  </p>    
</div>

<!-- flight detail sections -->
<div>
  <h2 class="highlited">Flights Details</h2>
  {% if flight_info_img %}
    <img src="{{ flight_info_img }}" alt="Flight Information" style="width: 100%; max-width: 600px;">
  {% endif %}
</div>
<br>
<div>
  {% if hotel_info_img %}
  <h2 class="highlited">Hotel Details</h2>
    <img src="{{ hotel_info_img }}" alt="Hotel Information" style="width: 100%; max-width: 600px;">
  {% endif %}
</div>
<br>
<div>
  {% if vehicle_info_img %}
  <h2 class="highlited">Vehicle Details</h2>
    <img src="{{ vehicle_info_img }}" alt="Vehicle Information" style="width: 100%; max-width: 600px;">
  {% endif %}
</div>
<br>


<!-- Passengers Information -->
<div>
  <h2 class="highlited">Passengers Information</h2>
  <table width="100%" border="1" cellpadding="5" cellspacing="0">
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Date of Birth</th>
        <th>Gender</th>
        <th>Ticket Number</th>
      </tr>
    </thead>
    <tbody>
      {% for passenger in passenger_info %}
      <tr style="text-align: center;">
        <td>{{ passenger.full_passenger_name }}</td>
        <td>{{ passenger.date_of_birth }}</td>
        <td>{{ passenger.get_gender_display }}</td>
        <td>
          {% if passenger.ticket_number %}
            {{ passenger.ticket_number }}
          {% else %}
            N/A
          {% endif %}
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4">No passengers information available.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<br>


<!-- price details -->
<div>
  <h2 class="highlited">Price Details</h2>
  <table width="100%" border="1" cellpadding="5" cellspacing="0">
    <thead>
      {% if booking.regarding_flight %}
      <tr>
        <td colspan="3"><strong>Flight Cost</strong></td>
        <td>{{booking.flight_cost}}</td>
      </tr>
      {% endif %}
      {% if booking.regarding_hotel %}
      <tr>
        <td colspan="3"><strong>Hotel Cost</strong></td>
        <td>{{booking.hotel_cost}}</td>
      </tr>
      {% endif %}
      {% if booking.regarding_vehicle %}
      <tr>
        <td colspan="3"><strong>Car Cost</strong></td>
        <td>{{booking.vehicle_cost}}</td>
      </tr>
      {% endif %}
      <tr>
        <td colspan="3"><strong>Tax & Fees</strong></td>
        <td>{{booking.mco}}</td>
      </tr>
      <tr bgcolor="#FFFFCC">
        <td colspan="3"><strong>Total Flight Booking Amount (Including Taxes and Fees):</strong></td>
        <td><strong>{{booking.currency}} {{ total_amount }}</strong></td>
      </tr>
    </tbody>
  </table>
</div>
<br>

<!-- Card Information -->
<div>
  <h2 class="highlited">Card Details</h2>
  <table width="100%" border="1" cellpadding="5" cellspacing="0">
    <thead>
      <tr>
        <th>Card Holder Name</th>
        <th>Card Number</th>
        <th>Card Type</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody>
      {% for b in billing_info %}
      <tr style="text-align: center;">
        <td>{{ b.card_holder_name }}</td>
        <td>**** **** **** {{ b.card_number|slice:":4" }}</td>
        <td>{{ b.card_type }}</td>
        <td>{{ booking.call_log.phone }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4">No card information available.</td>
      </tr>
      {% endfor %}
      <tr bgcolor="#FFFFCC">
        <td colspan="3"><strong>Total Amount Charged:</strong></td>
        <td><strong>{{ booking.currency }} {{ total_amount }}</strong></td>
      </tr>
    </tbody>
  </table>
</div>


<div>
  <p style="text-align: center;"> You may see more than one transaction on your card but will not exceed the total amount as advised.</p>
  <p style="text-align: center;">By Clicking on the Authorize button, you agree to the above mentioned terms.</p>
  <br>
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <p>Agent: {{booking.added_by.username}} <br> Contact: {{booking.added_by.last_name}}</p>
    <a style="margin-left: 40rem;" href="{{ approval_url }}"><button style="padding: .5rem 1rem;">Authorize</button></a>
  </div>
</div>
<br>

{% endblock %}
