{% extends './base.html' %}

{% block content %}

<!-- authorization sections -->
<div>
  <h2 style="text-align: center;">Please Confirm This Booking</h2>
  <p style="text-align: center;">
  I, {{card_holder_name}} has authorize LOOKMYFLIGHT to confirm my booking by charging my Credit/Debit card, ending with <b>{{card_number}}</b> for amount ({{booking.currency}} <b>{{booking.amount}}</b>) to book the below itinerary.
  </p>
  <p style="text-align: center;">
  Reservations once issued are Non Refundable and Non Transferable. Changes are subject to airline rules and regulations and may attract penalty and difference in fare and fees. Some reservations may completely be NON CHANGEABLE even with airline penalty.No airfare is guaranteed until tickets are issued.
  </p>    
</div>

<!-- flight detail sections -->
<div>
  <h2 class="highlited">Flights Details</h2>
  {% if flight_info_img %}
    <img src="{{ flight_info_img }}" alt="Flight Information" style="width: 100%; max-width: 600px;">
  {% endif %}
</div>
<br>
<div>
  <h2 class="highlited">Hotel Details</h2>
  {% if hotel_info_img %}
    <img src="{{ hotel_info_img }}" alt="Hotel Information" style="width: 100%; max-width: 600px;">
  {% endif %}
</div>
<br>
<div>
  <h2 class="highlited">Vehicle Details</h2>
  {% if vehicle_info_img %}
    <img src="{{ vehicle_info_img }}" alt="Vehicle Information" style="width: 100%; max-width: 600px;">
  {% endif %}
</div>
<br>

<!-- price details -->
<div>
  <h2 class="highlited">Price Details</h2>
  <table width="100%" border="1" cellpadding="5" cellspacing="0">
    <thead>
      <tr bgcolor="#FFFFCC">
        <td colspan="3"><strong>Total Flight Booking Amount (Including Taxes and Fees):</strong></td>
        <td><strong>{{booking.currency}} {{ booking.amount }}</strong></td>
      </tr>
    </tbody>
  </table>
</div>
<br>

<!-- Card Information -->
<div>
  <h2 class="highlited">Card Details</h2>
  <table width="100%" border="1" cellpadding="5" cellspacing="0">
    <thead>
      <tr>
        <th>Card Holder Name</th>
        <th>Card Number</th>
        <th>Card Type</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody>
      {% for b in billing_info %}
      <tr style="text-align: center;">
        <td>{{ b.card_holder_name }}</td>
        <td>**** **** **** {{ b.card_number|slice:":4" }}</td>
        <td>{{ b.card_type }}</td>
        <td>{{ booking.call_log.phone }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4">No card information available.</td>
      </tr>
      {% endfor %}
      <tr bgcolor="#FFFFCC">
        <td colspan="3"><strong>Total Amount Charged:</strong></td>
        <td><strong>{{ booking.currency }} {{ booking.mco }}</strong></td>
      </tr>
    </tbody>
  </table>
</div>


<div>
  <p style="text-align: center;"> You may see more than one transaction on your card but will not exceed the total amount as advised.</p>
  <p style="text-align: center;">By Clicking on the Authorize button, you agree to the above mentioned terms.</p>
  <br>
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <p>Agent: {{booking.added_by.username}} <br> Contact: {{booking.added_by.last_name}}</p>
    <a style="margin-left: 40rem;" href="{{ approval_url }}"><button style="background-color: rgb(233, 142, 105);">Authorize</button></a>
  </div>
</div>
<br>

{% endblock %}
