{% load static %}
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Notification</title>
</head>
<body style="font-family: Arial, sans-serif; padding: 1rem;">

    <!-- Header -->
    <div style=" display: flex; justify-content: space-between; align-items: center; background-color: rgb(114, 228, 243); padding: .5rem;">
        <!-- <img src="{% static 'logo.jpeg' %}" alt="LOOKMYFLIGHT" width="150"> -->
        <div style="text-align: left; padding: 1rem; font-weight: 800; font-size: 1.2rem;" >LOOKMYFLIGHT</div>
        <div style="text-align: right; padding: 1rem; width: 100vw; font-size: 1.2rem;">
            Book Online or Call Us 24/7<br><strong>1-877-718-3806</strong>
        </div>
    </div>

    {% block content %}
    {% endblock %}
    
    <!-- Footer -->
    <div style="width: 100%;">
        <h2 style="text-align: center;">Additional information</h2>
        <div style="padding: 0.5rem; background-color: rgb(114, 228, 243);">
            <p>PAYMENT INFORMATION:</p>
            <p>Please note that your card may be charged in multiple installments adding up to the grand total listed above. We kindly ask that you wait for the total amount to process before inquiring about card charges.</p> 
            <p>FARE POLICIES, RULES AND RESTRICTIONS:</p> 
            <p>CHANGES</p> 
            <p>Changes after 24 hours of booking is only permitted following the airline's policy. Change fee and fare difference will be applicable.</p> 
            <p>CANCELLATION</p> 
            <p>Cancellation within 4 hours of booking is permitted. Base fare of the ticket is refundable and Taxes fees stay non refundable.</p> 
            <p>Cancellation after 4 hours and within 24 hours of booking. Cancellation fee chargeable. The base fare of the ticket is refundable and taxes fees stay non refundable.</p> <p>Cancellation after 24 hours of booking the ticket is non refundable. In a few cases the base fare can be refunded but the cancellation fee will be applicable.</p> 
            <p>BAGGAGE RULES AND FEES:</p> 
            <p>Additional baggage fees may apply. We recommend that you contact the airline you are traveling on for the latest information regarding airline specific baggage rules, requirements and fees.</p> 
            <p>SEATS:</p> 
            <p>If you have requested a seat to be assigned, we will send your request to the airline. Airlines may or may not be able to confirm your request. At times, airlines may not be able to assign specific seats or seats sitting together. Occasionally, seats can be assigned only at the check-in counter at the airport.</p>
        </div> 
    </div>

</body>
</html>


