<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Confirmation</title>
</head>
<body style="font-family: Arial, sans-serif;">

    <!-- Header -->
    <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center">
                <img src="LOOKMYFLIGHT_LOGO_URL" alt="LOOKMYFLIGHT Logo" width="150">
            </td>
        </tr>
        <tr>
            <td align="center">
                Book Online or Call Us 24/7<br>
                1-877-718-3806
            </td>
        </tr>
    </table>

    <!-- Authorization Section -->
    <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <p>Please Confirm This Booking Authorization</p>
                <p>I, CARD HOLDER NAME, authorize LOOKMYFLIGHT and AIRLINES NAME to confirm my booking by charging my credit/Debit card, ending with **** for the amount (USD / CAD ***) to book the below itinerary.</p>
                <p>Reservations once issued are Non-Refundable and Non-Transferable...</p>
            </td>
        </tr>
    </table>

    <!-- Booking Status Section -->
    <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <p>Dear Card Holder,</p>
                <p>Thank you for using LOOKMYFLIGHT for booking your Travel Arrangements...</p>
                <!-- Additional booking status details go here -->
            </td>
        </tr>
    </table>

    <!-- Traveler Details Section -->
    <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <p>Traveler Details</p>
                <table width="100%" border="1" cellpadding="5" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Passenger Name</th>
                            <th>Last Name</th>
                            <th>Date Of Birth</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Mr Francisco</td>
                            <td>Niebes</td>
                            <td>06-07-1963</td>
                        </tr>
                        <tr>
                            <td>Mrs Noelia</td>
                            <td>Quiles</td>
                            <td>04-18-1966</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>

    <!-- Flight Summary Section -->
    <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <p>Flight Summary</p>
                <!-- Additional flight summary details go here -->
            </td>
        </tr>
    </table>

    <!-- Payment Information Section -->
    <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <p>Payment Information</p>
                <!-- Additional payment information details go here -->
            </td>
        </tr>
    </table>

    <!-- Charge Authorization Section -->
    <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <p>Charge Authorization, Your Electronic Signature Copy</p>
                <p>I, CARDHOLDER NAME, have read the term & conditions...</p>
                <!-- Additional charge authorization details go here -->
            </td>
        </tr>
    </table>

    <!-- Additional Information Section -->
    <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <p>Additional information</p>
                <!-- Additional information details go here -->
            </td>
        </tr>
    </table>

</body>
</html>
